@font-face {
  font-family: 'Get-Schwifty';
  src: url('../../fonts/GetSchwifty-Regular.eot');
  src: url('../../fonts/GetSchwifty-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/GetSchwifty-Regular.woff2') format('woff2'),
      url('../../fonts/GetSchwifty-Regular.woff') format('woff'),
      url('../../fonts/GetSchwifty-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

