$colorTitle: #3cb0bd;
$colorShadow: #7eb56d;
$colorSubTitle: #3eb0cf;
$colorText: #3a3a3a;
$colorWhite: #fff;
$colorBlack: #000;

$fontRegular: Arial, Helvetica, sans-serif;
$fontTitle: 'Get-Schwifty', sans-serif;

$images: '../../images';
